.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100vh;
    width: 100%;

    color: white;

    background: url('/images/nature.jpg'), rgba(0, 0, 0, 0.822);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    max-width: 1000px;
    width: 100%;

    background-color: rgba(127, 255, 212, 0.11);
}

.contact-links{
    display: flex;
    flex-direction: row;

    height: auto;
    width: 100px;
}