
.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100vh;
    width: 100%;

    color: white;

    
    background: url('/images/nature.jpg'), linear-gradient(to right, #0000003d, #b9b9b9, #777777, #202020, #000000);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

@media (max-width: 600px) {
    .Home {
        overflow: hidden;
        background:  url('/images/nature.jpg'), linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    }
}

@media (max-height: 650px) {
    .Home {
        overflow: hidden;
    }
}