.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    max-width: 1600px;
    width: 100%;
}

.content-text {
    display: flex;
    flex-direction: column;
    align-items: end;

    max-width: 1600px;
    width: 100%;
    height: 700px;

    padding-top: 20px;
}

.name-header {
    margin-bottom: 0;
    font-size: 140px;
    text-align: left;

    font-weight: 600;

    width: 100%;
    max-width: 600px;
}

.padding-text {
    margin-left: 80px;
}

.info-paragraf {
    margin-top: 10;
    font-size: 17px;
    text-align: left;

    max-width: 500px;
    margin-right: 100px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    width: 100%;

    margin-top: 100px;
}

@media (max-width: 600px) {
    .content-text {
        align-items: center;

    }

    .name-header {
        font-size: 50px;
        letter-spacing: 1px;
        text-align: center;
    }

    .padding-text {
        margin-left: 0px;
    }

    .info-paragraf {
        font-size: 14px;
        max-width: 350px;
        text-align: center;

        margin-right: 0px;
    }
}

@media (max-height: 650px) {
    .content-text {
        align-items: end;
        padding-right: 50;
    }

    .name-header {
        font-size: 50px;
        margin-top: 0;
        text-align: center;
    }

    .padding-text {
        margin-left: 0px;
    }

    .info-paragraf {
        text-align: right;
        max-width: 400px;
    }
}